# Various talk dependant files
europython_2014/errorhandling/copy_of_some.txt
europython_2014/errorhandling/some.txt
pygraz/traderbot/demobot.cfg

# Python byte code
*.py[cod]

# C extensions
*.so

# Java classes
*.class

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Eclipse
.settings

# Mac OS X
.DS_Store

# LibreOffice locks
.~lock.*
.env
.idea/
/pygraz/pygments/example.html
/pygraz/pygments/example.rtf

# Jupyther notebooks
.ipynb_checkpoints
